<h1>This is the ask questions page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, minima aspernatur rerum excepturi ea architecto doloribus corrupti inventore dolores, adipisci laudantium neque optio, sequi voluptas veniam nesciunt. Amet, recusandae tempore!</p>

<form action="answer">
  <input type="text" name="ask">
  <input type="submit" value="Ask!">
</form>
