<div class="container">
<h1>Stupid Coachinig</h1>
<p><%= Time.now %></p>

<form action="/answer" method="get">
  <input  type="text"
          id="question"
          name="question"
          placeholder="What's your question?">
  <input type="submit" value="Ask!">
</form>
</div>
