// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body {
  background: #f2f5f5;
  text-align: center;
}

.container {
  width: 700px;
  background: #fff;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
}
.question {
  width: 350px;
  background: #fff;
  border-left: 4px solid lightgrey;
  text-align: left;
  padding: 1px;
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.answer {
  width: 350px;
  background: #f2f5f5;
  border-left: 4px solid lightgrey;
  text-align: left;
  padding: 1px;
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.question p {
  padding-left: 10px;
}

.answer p {
  padding-left: 10px;
}
